@import "variables.scss";
body {
    overflow: hidden;
    margin: 0;
    font-family: TensoMedium, TensoLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    * {
        font-family: inherit;
        font-size: inherit;
    }
    input,
    textarea,
    select {
        border-radius: 4px;
        border: 1px solid #565656;
        padding: 3px;
    }
}

.app-body {
    display: flex;
    .site-body {
        flex: 1;
        height: 100vh;
        background-color: #ebebed;
        >.open-content {
            overflow: scroll;
            padding: 0;
            margin-bottom: 50px;
            height: calc(100% - 60px);
        }
    }
}