@import "variables.scss";
body {
    overflow: hidden;
    margin: 0;
    font-family: TensoMedium, TensoLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    * {
        font-family: inherit;
        font-size: inherit;
    }
    input,
    textarea,
    select {
        border-radius: 4px;
        border: 1px solid #565656;
        padding: 3px;
    }
}

.site-body {
    display: flex;
    flex: 1;
    height: 100vh;
    >.navigation {
        order: -1;
    }
    >.open-content {
        flex: 1;
        overflow: scroll;
        padding: 0;
        margin-bottom: 50px;
    }
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    >* {
        padding: 5px;
        margin: 5px;
    }
    &.column-3 {
        >* {
            width: 33%;
        }
    }
    &.column-2 {
        >* {
            width: 50%;
        }
    }
}