$text-font-family: TensoMedium,
TensoLight,
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;


/* THEME ONE - Darks and Lime */
$color-one: #3a353c;
$color-two: #2e2c2d;
$color-accent: #deda1d;
$color-background: #ebebed;
$color-background-light: white;

$text-light: #f1f1f1;
$text-light-secondary: #B3AFAF;
$text-dark: #2e2c2d;
$text-dark-secondary: #585658;

$notify-message: #F9F8CC;
$notify-error: #F96666;
$notify-success: #B1FFB5;

