$theme-color-main: #5f5f5f;
$theme-color-accent: #4CAF50;
$theme-color-content: #f1f1f1;
$theme-text-label: #5f5f5f;
$theme-text-header: #f1f1f1;
$theme-text-font-family: Impact,
Charcoal,
sans-serif;