@import "../variables.scss";
.autocomplete {
    position: relative;
    &.show {
        input {
            border-radius: 5px 5px 0 0;
        }
        .results {
            transform: perspective(0px) rotateX(0deg);            
        }
    }
    .results {
        color: $text-dark-secondary;
        background-color: $color-background-light;
        box-shadow: 5px 5px 10px black;
        position: absolute;
        left: 0;
        right: 0;
        transform: perspective(800px) rotateX(-90deg);
        transform-origin: top;
        transition: all 0.5s linear;
        z-index: 10;
        overflow: scroll;
        .item {
            padding: 5px;
            border-bottom: 1px solid $text-dark;
            cursor: pointer;
            .highlight {
                font-weight: bold;
                font-size: 20px;
                color: $text-dark;
            }
            &:last-child {
                border-bottom: none;
            }
            &:hover,
            &.active {
                background-color: $color-two;
                color: $text-light-secondary;
                .highlight {
                    color: $text-light;
                }
            }
        }
    }
}