@import "../variables.scss";
    .header-content {
        background-color: $color-background-light;
        height: 60px;
        padding: 0 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        nav {
            >a {
                padding-right: 10px;
                text-decoration: underline;
            }
        }
    }