.recipe-ingredients {
    ul {
        padding: 0;
        li {
            display: flex;
            align-items: stretch;
            padding: 5px;
            .quantity {
                width: 5em;
                text-align: center;
            }
            .units {
                display: flex;
                width: 8em;
                margin: 0 5px;
                input {
                    width: 100%;
                }
            }
            .name {
                flex: 1;
                display: flex;
                margin-right: 5px;
                input {
                    flex: 1;
                }
            }
            .ti-trash {
                align-self: center;
            }
        }
    }
}