@import "../variables.scss";
.full-recipe {
    .recipe-images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }
    .recipe-body {
        padding: 10px;
        margin: 0 10px;
        display: flex;
        justify-content: space-around;
        border-top: 1px solid $theme-text-label;
        >section {
           min-width: 50%; 
        }
    }
}