@import "../variables.scss";

.recipe-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .recipe-info {
        display: flex;
        flex-direction: column;
        padding: 50px 25px 50px 75px;
        width: 100%;
        .recipe-title {
            display: flex;
            align-items: center;
        }
        &.editable {
            .title,
            .ti-pencil,
            .public-note {
                display: none;
            }
            input.title,
            .ti-save,
            .ti-close,
            .toggle-label,
            .toggle-switch {
                display: inline-block;
            }
        }
        .ti-save,
        .ti-pencil {
            padding-left: 10px;
        }
        .ti-save,
        .ti-close,
        .ti-pencil {
            color: $text-dark-secondary;
            font-size: 40px;
            &:hover {
                color: $text-dark;
            }
        }
        .title {
            color: $text-dark;
            font-size: 40px;
            display: flex;
            padding: 5px;
            border: 1px solid transparent;
            font-family: $text-font-family;
        }
        input.title {
            border: 1px solid $text-dark;
            flex: 1;            
            display: none;
        }
        .ti-save {
            padding-right: 10px; 
        }
        .ti-save,
        .ti-close {
            display: none;
        }
        .addition-info,
        .public-option {
            font-size: 14px;
            color: $text-dark-secondary;
            padding: 5px 0 0 9px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .public-option {
            height: 30px;
        }
        .toggle-switch {
            transform: scale(0.5);
            display: none;
        }
        .toggle-label {
            display: none;
        }
        .author {
            padding-right: 5px;
        }
        .time-info {
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            font-size: 14px;
            color: $text-dark-secondary;
            padding: 0 7px;
            .serving-value {
                width: 3em;
            }
            .prep-time,
            .cook-time {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 10px;
                >span {
                    display: inline-block;
                }
            }
            .time-picker.prep-time {
                z-index: 3;
            }
            .ti-timer,
            .ti-pie-chart {
                font-size: 24px;
                padding-right: 10px;
                cursor: default;
            }
            .servings>label {
                padding-left: 5px;
            }
        }
        
    }
}






