@import "../variables.scss";
.recipe-sub-header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid $theme-text-label;
    border-bottom: 1px solid $theme-text-label;
    font-size: 14px;
    color: $theme-text-label;
    margin: 0 10px;
    padding: 0 10px;
    .prep-time,
    .cook-time {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 10px;
        >span {
            display: inline-block;
        }
    }
    .ti-timer,
    .ti-pie-chart {
        font-size: 24px;
        padding-right: 10px;
    }
    .servings>label {
        padding-left: 5px;
    }
}