@import "../variables.scss";
.full-recipe {
    >.recipe-title {
        padding-left: 20px;
        border-bottom: 2px solid $theme-color-one;
        >span {
            color: $theme-color-one;
            line-height: 50px;
            font-size: 24px;
        }
        >.text {
            font-family: $theme-text-font-family;
            padding-right: 10px;
        }
    }
}