@import "../variables.scss";

.recipe-steps {
    .steps-list {
        padding-left: 0;
        .individual-step {
            padding: 5px;
        }

        .step-content {
            width: 100%;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            textarea {
                width: 100%;
            }
        }
    }
}