@import "../variables.scss";
.time-picker {
    position: relative;
    width: 58px;
    height:24px;
    input {
        width: 40px;
        transition: width 0.5s;
        margin: 0;
        cursor: pointer;
    }
    &.show {
        input {
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: 1;
            width: 107px;
            border-radius: 5px 5px 0 0;
            border-bottom: none;
            box-shadow: 5px 5px 10px black;
        }
        .results {
            transform: perspective(0px) rotateX(0deg);            
        }
    }
    .results {
        color: $text-dark-secondary;
        background-color: $color-background-light;
        box-shadow: 5px 5px 10px black;
        position: absolute;
        top: 100%;
        transform: perspective(800px) rotateX(-90deg);
        transform-origin: top;
        transition: all 0.5s linear;
        z-index: 2;
        overflow: hidden;
        height: 180px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        border: 1px solid $text-dark-secondary;
        .hours {
            border-right: 1px solid $text-dark-secondary;
        }
        .hours,
        .minutes {
            width: 56px;
            overflow-y: scroll;
            margin: 0;
            padding: 0;
        }
        .item {
            padding: 5px;
            padding: 5px 5px 5px 16px;
            cursor: pointer;
            &:last-child {
                border-bottom: none;
            }
            &:hover,
            &.active {
                background-color: $color-two;
                color: $text-light-secondary;
            }
        }
    }
}