@import "../variables.scss";

.settings-content {
    padding: 25px;
    .content-title {
        color: $text-dark;
        font-size: 30px;
        padding-left: 10px;
        margin: 0 0 25px 0;
    }
    .request-list {
        list-style: none;
        color: $text-dark;
        padding-left: 10px;        
        .item {
            padding: 5px 10px;
            border-bottom: 1px solid $text-dark;
            display: flex;
            flex-direction: row;
            align-self: center;
            >* {
                display: flex;
                align-items: center;
            }
            &:last-child {
                border-bottom: none;
            }
            /*&:hover {
                background-color: $color-two;
                color: $text-light-secondary;
            }*/
            .info {
                color: $text-dark-secondary;
                padding-left: 20px;
                font-size: 0.8em;
            }
            .controls {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                button {
                    background-color: $color-one;
                    border: none;
                    color: $text-light;
                    padding: 5px 15px;
                    margin-left: 15px;
                    cursor: pointer;
                    &:hover {
                        background-color: $color-two;
                    }
                }
            }
        }
    }
}